* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --nav-color: rgb(122, 122, 167);
}

body {
  padding: 4%;
  height: 100vh;
  background-color: aquamarine;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  background-color: brown;
}

.navigation__list {
  position: absolute;
  top: 2.5%;
  width: 100%;

  display: flex;
  justify-content: space-around;
  text-align: center;

  background-color: bisque;
}

.main {
  position: absolute;
  top: 6%;
  height: 90%;
  width: 100%;
  background-color: rgb(174, 127, 255);
}

.navigation__item {
  list-style: none;
}

.navigation__icon {
  display: none;
}

.navigation__button {
  display: none;
}

@media screen and (max-width: 600px) {
  .container {
    border-radius: 0;
  }

  .navigation__button {
    position: absolute;
    right: 0;
    margin: 10px;
    height: 30px;
    width: 30px;

    display: inline-block;

    border: 0;
    background-color: transparent;
  }

  .navigation__list {
    position: absolute;
    top: 0;
    display: inline;
  }

  .navigation__item {
    padding: 10px;
  }

  .main {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul.navigation__responsive li {
    display: block;
  }

  li:nth-child(2),
  li:nth-child(3),
  li:nth-child(4),
  li:nth-child(5) {
    display: none;
  }

  .navigation__icon {
    padding: 10px;
    width: 50px;
    height: 50px;
    display: block;
  }

  .navigation__button__inner,
  .navigation__button__inner::before,
  .navigation__button__inner::after {
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }

  .navigation__button__inner {
    top: 50%;
    transform: translateY(-50%);
  }

  .navigation__button__inner::before,
  .navigation__button__inner::after {
    content: "";
  }

  .navigation__button__inner::before {
    top: -10px;
  }

  .navigation__button__inner::after {
    top: 10px;
  }

  .navigation__button--active .navigation__button__inner {
    background-color: transparent;
  }

  .navigation__button--active .navigation__button__inner::before {
    transform: translateY(10px) rotate(45deg);
  }

  .navigation__button--active .navigation__button__inner::after {
    transform: translateY(-10px) rotate(-45deg);
  }
}
