* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --nav-color: rgb(122, 122, 167);
}

body {
  padding: 4% 8% 4% 8%;
  height: 100vh;
  background-color: rgb(240, 237, 251);
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.navigation__list {
  position: absolute;
  top: 2.5%;
  width: 100%;

  display: flex;
  justify-content: space-around;
  text-align: center;
}

.main {
  position: absolute;
  top: 6%;
  height: 90%;
  width: 100%;

  display: flex;
  justify-content: center;
}

.main__left {
  padding: 5%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.main__title {
  font-style: normal;
  font-weight: 600;
  font-size: 7vw;
  line-height: 155px;
  display: flex;
  align-items: center;
}

.main__paragraphs {
  padding-left: 6px;
  margin-bottom: 5%;
  font-size: 2vh;
}

.main__button {
  height: 10%;
  width: 25%;
  text-transform: uppercase;
  font-weight: bold;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  margin-left: 6px;
}

.main__description {
  margin: 0rem 0rem 0.75rem 0rem;
}

.main__right {
  background-color: rgb(237, 184, 237);
  width: 50%;
}

.navigation__item {
  list-style: none;
}

.navigation__icon {
  display: none;
}

.navigation__button {
  display: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .container {
    border-radius: 0;
  }

  .navigation__button {
    position: absolute;
    right: 0;
    margin: 10px;
    height: 30px;
    width: 30px;

    display: inline-block;

    border: 0;
    background-color: transparent;
  }

  .navigation__list {
    position: absolute;
    top: 0;
    display: inline;
  }

  .navigation__item {
    padding: 10px;
  }

  .main {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  .main__title {
    justify-content: center;
    height: 25%;
  }

  .main__left,
  .main__right {
    width: 100%;
    height: 50%;
    align-items: center;
  }

  .main__left {
    justify-content: flex-end;
  }

  .main__paragraphs {
    margin: 0;
  }

  .main__description {
    text-align: center;
  }

  .main__button {
    margin: 2.5% 0% 2.5% 0%;
    height: 15%;
    width: 30%;
  }

  ul.navigation__responsive li {
    display: block;
    background-color: #ffffff;
  }

  ul.navigation__list {
    background-color: #ffffff;
  }

  li:nth-child(2),
  li:nth-child(3),
  li:nth-child(4),
  li:nth-child(5) {
    display: none;
  }

  .navigation__icon {
    padding: 10px;
    width: 50px;
    height: 50px;
    display: block;
  }

  .navigation__button__inner,
  .navigation__button__inner::before,
  .navigation__button__inner::after {
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }

  .navigation__button__inner {
    top: 50%;
    transform: translateY(-50%);
  }

  .navigation__button__inner::before,
  .navigation__button__inner::after {
    content: "";
  }

  .navigation__button__inner::before {
    top: -10px;
  }

  .navigation__button__inner::after {
    top: 10px;
  }

  .navigation__button--active .navigation__button__inner {
    background-color: transparent;
  }

  .navigation__button--active .navigation__button__inner::before {
    transform: translateY(10px) rotate(45deg);
  }

  .navigation__button--active .navigation__button__inner::after {
    transform: translateY(-10px) rotate(-45deg);
  }
}
