* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  padding: 4% 8% 4% 8%;
  height: 100vh;
  background-color: rgb(240, 237, 251);
}

.container {
  padding: 20px 60px 20px 60px;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 40px;

  display: flex;
  flex-direction: column;
}

nav {
  height: 7.5%;
}

.navigation__list {
  height: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.navigation__item {
  list-style: none;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navigation__button {
  display: none;
}

.navigation__link {
  margin: auto;
  color: rgb(0, 0, 0);
  font-size: 0.95vw;
}

li:nth-child(2):hover,
li:nth-child(3):hover,
li:nth-child(4):hover {
  border-bottom: 1px solid rgb(199, 191, 216);
}

.navigation__link:link,
.navigation__link:visited,
.navigation__link:hover,
.navigation__link:active {
  text-decoration: none;
}

.navigation__icon > .navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__square {
  width: 20px;
  height: 20px;
  rotate: 45deg;
  top: 3.5px;
  border-radius: 3px;
}

.icon__square:nth-child(1) {
  background-color: rgb(199, 191, 216);
}

.icon__square:nth-child(2) {
  background-color: rgb(92, 84, 109);
}

#navigation__login,
#navigation__signup {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgb(208, 208, 208);
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

#navigation__login {
  background: rgb(134, 122, 158);
  margin-left: 50px;
}

#navigation__login:hover {
  background: rgb(92, 84, 109);
}

#navigation__signup {
  background: rgb(219, 209, 239);
  margin-left: 15px;
}

#navigation__signup:hover {
  background: rgba(199, 191, 216);
}

.main {
  height: 92.5%;
  padding: 100px 0px 100px 0px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.main__left {
  height: 100%;
  width: 60%;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.main__title {
  font-style: normal;
  font-weight: 600;
  font-size: 7vw;
  display: flex;
  align-items: center;
}

.main__paragraphs {
  padding-left: 6px;

  font-size: 2vh;
}

#button__link {
  height: 20%;
  width: 10vw;
  margin-left: 6px;
}

.main__button {
  height: 100%;
  width: 10vw;
  text-transform: uppercase;
  font-weight: bold;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.main__button:hover {
  background-color: rgba(199, 191, 216);
}

.main__button:active {
  transform: translateY(2px);
}

.main__right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.main__decoration {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.main__title,
.main__description,
.main__button {
  flex-grow: 1;
}

.main__title,
.main__paragraphs {
  height: 40%;
}

.main__row {
  height: 20%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: rgb(200, 200, 200);
}

.main__row:nth-child(1) {
  background: rgba(199, 191, 216, 0.5);
}

.main__row:nth-child(2) {
  background: rgba(222, 213, 240, 0.5);
}

.main__row:nth-child(3) {
  background: rgba(234, 224, 255, 0.5);
}

.main__row:nth-child(4) {
  background: rgba(243, 237, 255, 0.5);
}

@media screen and (max-width: 600px) {
  .container {
    border-radius: 0;
    padding: 0;
  }

  .main {
    position: r;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 10px 50px 10px 50px;
  }

  .main__title {
    justify-content: center;
    height: 25%;
  }

  .main__left,
  .main__right {
    width: 100%;
    height: 50%;
    align-items: center;
  }

  .main__left {
    justify-content: flex-end;
    padding: 0;
    margin: 10px 0px 20px 0px;
  }

  .main__paragraphs {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__description {
    text-align: center;
    margin: 0;
  }

  #button__link {
    width: 50%;
  }

  .main__button {
    width: 100%;
  }

  .navigation__list {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    height: auto;
    width: 100%;
  }

  .navigation__button {
    position: absolute;
    top: 3vh;
    right: 10vw;
    margin: 10px;
    height: 30px;
    width: 30px;

    display: inline-block;

    border: 0;
    background-color: transparent;
  }

  ul.navigation__responsive li {
    display: block;
    background-color: #ffffff;
  }

  ul.navigation__responsive li:not(.navigation__icon) {
    margin: 25px 0px 25px 0px;
  }

  li:nth-child(2),
  li:nth-child(3),
  li:nth-child(4),
  li:nth-child(5),
  li:nth-child(6) {
    display: none;
  }

  .navigation__icon {
    width: 60px;
    height: 50px;
    display: block;
  }

  .navigation__icon > .navigation__link {
    height: 100%;
  }

  .navigation__link {
    font-size: 2vh;
  }

  #navigation__login,
  #navigation__signup {
    background-color: inherit;
    color: rgb(0, 0, 0);
    margin: 0;
    box-shadow: none;
  }

  .navigation__button__inner,
  .navigation__button__inner::before,
  .navigation__button__inner::after {
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }

  .navigation__button__inner {
    top: 50%;
    transform: translateY(-50%);
  }

  .navigation__button__inner::before,
  .navigation__button__inner::after {
    content: "";
  }

  .navigation__button__inner::before {
    top: -10px;
  }

  .navigation__button__inner::after {
    top: 10px;
  }

  .navigation__button--active .navigation__button__inner {
    background-color: transparent;
  }

  .navigation__button--active .navigation__button__inner::before {
    transform: translateY(10px) rotate(45deg);
  }

  .navigation__button--active .navigation__button__inner::after {
    transform: translateY(-10px) rotate(-45deg);
  }
}
