.row {
  background: rgb(234, 224, 255);
}

.form-area__intro__title,
.plan-area__intro__title {
  font-family: "Overpass", sans-serif;
  font-size: 2.5em;
  text-align: center;
}

.form-area__row {
  display: flex;
}

.form-area__intro__description {
  font-family: "Overpass", sans-serif;
  text-align: justify;
  padding-right: 10px;
}

.form-area__label {
  font-family: "Overpass", sans-serif;
  padding-top: 15px;
  font-weight: 700;
}

.form-area__input-area[type="text"] {
  font-family: "Overpass", sans-serif;
  color: gray;
  font-size: 0.8em;
  font-style: italic;
}

.form-area__input-area {
  width: 300px;
  height: 40px;
  border: 0;
  padding-left: 10px;
}

.form-area__text-area {
  border: 0;
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
  width: 300px;
  height: 100px;
}

.form-area__text-area[type="text"] {
  font-family: "Overpass", sans-serif;
  color: gray;
  font-size: 0.8em;
  font-style: italic;
}

.form-area__buttons {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.plan-area,
.form-area {
  padding-top: 20px;
  padding-bottom: 20px;
}

.plan-area__date {
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-size: 1.2em;
  margin: 0;
}

.plan-area__quote {
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-size: 1.25em;
  color: rgb(80, 80, 80);
  margin-top: 5px;
}

.plan-area__list-title {
  font-family: "Overpass", sans-serif;
  font-size: 1.6em;
  text-align: center;
  margin: 0px;
}

.plan-area__list {
  font-family: "Overpass", sans-serif;
  font-size: 0.8em;
}

.plan-area__text-input {
  font-family: "Overpass", sans-serif;
  font-size: 0.8em;
  padding: 5px;
}

.plan-area__header {
  height: 150px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
  padding: 10px;
}

.plan-area__left-column__row {
  padding: 5px;
  height: 150px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
}

.plan-area__right-column__row {
  padding: 5px;
  height: 300px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
}

.plan-area__footer {
  height: 200px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
  padding: 5px;
}

/*-------------BUTTONS-----------------*/

.form-area__add-button,
.form-area__remove-button {
  background-color: rgb(72, 145, 145);
  border-width: 0;
  height: 40px;
  width: 40px;
  box-shadow: 2.5px 2.5px 5px grey;
  border-radius: 50%;
  font-size: 1.5em;
  color: white;
}

.form-area__add-button {
  margin-right: 6px;
}

.form-area__remove-button {
  margin-left: 6px;
}

#form-area__print-button,
#form-area__clear-button {
  height: 45px;
  width: 80px;
  margin: 10px;
  font-size: 1em;
  text-transform: uppercase;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

#form-area__print-button:hover,
#form-area__clear-button:hover {
  background-color: rgba(199, 191, 216);
  border-style: solid;
  border-color: rgb(92, 84, 109);
  border-width: 1px;
}

/*-------------------------------------*/
