.form-page__intro__title,
.plan-page__intro__title {
  font-family: "Overpass", sans-serif;
  font-size: 2.5em;
  text-align: center;
}

h2 {
  font-family: "Overpass", sans-serif;
  font-size: 1.6em;
  text-align: center;
  margin: 0px;
}

ol {
  font-family: "Overpass", sans-serif;
  font-size: 0.8em;
}

/* bootstrap class */
.row {
  background: rgb(234, 224, 255);
}
/*------------------*/

.text-input {
  font-family: "Overpass", sans-serif;
  font-size: 0.8em;
  padding: 5px;
}

.list {
  padding: 5px;
}

label {
  font-family: "Overpass", sans-serif;
  padding-top: 15px;
  font-weight: 700;
}

input[type="text"] {
  font-family: "Overpass", sans-serif;
  color: gray;
  font-size: 0.8em;
  font-style: italic;
}

input {
  width: 300px;
  height: 40px;
  border: 0;
  padding-left: 10px;
}

textarea {
  border: 0;
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
}

textarea[type="text"] {
  font-family: "Overpass", sans-serif;
  color: gray;
  font-size: 0.8em;
  font-style: italic;
}

#notes {
  width: 300px;
  height: 100px;
}

.notesSpan {
  display: inline-block;
  width: 100%;
}

#addNotesButton,
#removeNotesButton {
  vertical-align: top;
}

#dateInput {
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-size: 1.2em;
  margin: 0;
}

#quote {
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-size: 1.25em;
  color: rgb(80, 80, 80);
  margin-top: 5px;
}

.form-page__intro__description {
  font-family: "Overpass", sans-serif;
  text-align: justify;
  padding-right: 10px;
}

#form-area {
  padding-top: 20px;
  padding-bottom: 20px;
}

#pageWithPlan {
  padding-top: 20px;
  padding-bottom: 20px;
}

#header {
  height: 150px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
  padding: 10px;
}

#first_row_left,
#second_row_left,
#third_row_left,
#fourth_row_left {
  height: 150px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
}

#first_row_right,
#second_row_right {
  height: 300px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
}

#footer {
  height: 200px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
  padding: 5px;
}

.container {
  position: relative;
}

.form-page__row {
  display: flex;
}

.form-page__buttons {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*-------------BUTTONS-----------------*/

.addButton,
.removeButton {
  background-color: rgb(72, 145, 145);
  border-width: 0;
  height: 40px;
  width: 40px;
  box-shadow: 2.5px 2.5px 5px grey;
  border-radius: 50%;
}

.addButton {
  margin-right: 6px;
}

.removeButton {
  margin-left: 6px;
}

button:hover {
  background-color: rgb(30, 58, 58);
}

#printPlan,
#clearPlan {
  height: 25px;
  width: 40px;
}

.addButton,
.removeButton {
  font-size: 1.5em;
  color: white;
}

#printPlan,
#clearPlan {
  font-size: 1em;
  color: white;
}

/*-------------------------------------*/
