h1{
    font-family: 'Cookie', cursive;
    font-size: 2.5em;
    text-align: center;
}

h2{
    font-family: 'Cookie', cursive;
    font-size: 1.6em;
    text-align: center;
    margin: 0px;
}

ol{
    font-family: 'Tajawal', sans-serif;
    font-size: 0.8em;
}

.text-input{
    font-family: 'Tajawal', sans-serif;
    font-size: 0.8em;
    padding: 5px;
}

.list{
    padding: 5px;
}

label{
    font-family: 'Tajawal', sans-serif;
    padding-top: 15px;
    font-weight: 700;
}

input[type='text']{
    font-family: 'Tajawal', sans-serif;
    color:gray;
    font-size: 0.8em;
    font-style: italic;
}

input{
    width: 300px;
    height: 40px;
    border-radius: 1px;
    border: 0;
    padding-left: 10px;
}

#dateInput{
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    font-size: 1.2em;
    margin: 0;
}

#quote{
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 1.25em;
    color:rgb(80, 80, 80);
    margin-top: 5px;
}

#intro{
    font-family: 'Tajawal', sans-serif;
    text-align: justify;
    padding-right: 10px;
}

#form-area{
    background-color: rgb(226, 238, 238);
    padding-top: 20px;
    padding-bottom: 20px;
}

#pageWithPlan{
    background-color: rgb(191, 214, 214);
    padding-top: 20px;
    padding-bottom: 20px;
}

#header{
    height: 150px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
    padding: 10px;
}

#first_row_left, #second_row_left, #third_row_left, #fourth_row_left{
    height: 150px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
}

#first_row_right, #second_row_right{
    height: 300px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
}

#footer{
    height: 200px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
    padding: 5px;
}

.container {
    position: relative;
}

#author {
    position: absolute;
    bottom: 0;
    color:rgb(0, 0, 0);
    font-size: 0.8em;
    font-style: italic;
}

/*-------------BUTTONS-----------------*/
button{
    background-color: rgb(72, 145, 145);
    border-width: 0;
    height: 20px;
    width: 20px;
    box-shadow: 2.5px 2.5px 5px grey;
    border-radius: 10%;
}

button:hover{
    background-color: rgb(30, 58, 58)
}

#printPlan, #clearPlan{
    height: 25px;
    width: 40px;
}

button[class="printButton"]{
    margin-top: 20px;
}
.addButton, .removeButton, #printPlan, #clearPlan{
    font-size: 0.7em;
    color: white;
}

/*-------------------------------------*/
