.row-flex {
    display: flex;
    flex-wrap: wrap;
  }

h1{
    font-family: 'Cookie', cursive;
    font-size: 2.5em;
    text-align: center;
}

h2{
    font-family: 'Cookie', cursive;
    font-size: 1.6em;
    text-align: center;
    margin: 0px;
}

ol{
    font-family: 'Tajawal', sans-serif;
    font-size: 0.8em;
}

.text-input{
    font-family: 'Tajawal', sans-serif;
    font-size: 0.8em;
}

.list{
    padding: 5px;
}

label{
    font-family: 'Tajawal', sans-serif;
}

input[type='text']{
    color:gray;
    font-size: 0.8em;
    font-style: italic;
}

input{
    width: 300px;
    height: 40px;
    border-radius: 1px;
    border: 0;
    padding-left: 10px;
}

#form-area{
    background-color: rgb(226, 238, 238);
}

#pageWithPlan{
    background-color: rgb(191, 214, 214);
}

#header{
    height: 150px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
}

#first_row_left, #second_row_left, #third_row_left, #fourth_row_left{
    height: 150px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
}

#first_row_right, #second_row_right{
    height: 300px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
}

#footer{
    height: 200px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
}

